:root {
    --section-padding: 1.5rem;
    --sidebar-section-gap: 1rem;
    --main-color: #e5e7eb;
    --blue-color: #007bff;
    --main-content-gap: 1.5rem;
}

/* Roboto Light */
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/webfontkit-20241018-144018/roboto-light-webfont.woff2') format('woff2'),
        url('./fonts/webfontkit-20241018-144018/roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    /* Light */
    font-style: normal;
}

/* Roboto Regular */
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/webfontkit-20241018-144018/roboto-regular-webfont.woff2') format('woff2'),
        url('./fonts/webfontkit-20241018-144018/roboto-regular-webfont.woff') format('woff');
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

/* Roboto Medium */
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/webfontkit-20241018-144018/roboto-medium-webfont.woff2') format('woff2'),
        url('./fonts/webfontkit-20241018-144018/roboto-medium-webfont.woff') format('woff');
    font-weight: 500;
    /* Medium */
    font-style: normal;
}

/* Roboto Bold */
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/webfontkit-20241018-144018/roboto-bold-webfont.woff2') format('woff2'),
        url('./fonts/webfontkit-20241018-144018/roboto-bold-webfont.woff') format('woff');
    font-weight: 700;
    /* Bold */
    font-style: normal;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 100vh;
}


main {
    background-color: var(--main-color);
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";
}

/* SIDEBAR STYLES */

aside.sidebar {
    grid-area: sidebar;
    /* background-color: #0ea5e9; */
    background-color: var(--blue-color);
    color: #fff;
    padding: var(--section-padding);

    display: flex;
    flex-direction: column;
    gap: var(--sidebar-section-gap);
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.125rem;
}

.logo svg {
    width: 2.4rem;
    height: 2.8rem;
}

.logo svg,
.nav-list .nav-link svg {
    fill: #fff;
}

nav {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

nav .nav-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav .nav-list li {
    display: flex;
    gap: 1rem;
}

nav .nav-list h4 {
    font-size: 1.125rem;
}

nav .nav-list li svg {
    width: 1.3rem;
}

.new-project-container {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: space-between;
    /* Adjust the value as needed */
}

.new-project-container div {
    display: flex;
    gap: 1rem;
}

button.new-project {
    width: 35px;
    height: 35px;
    border: 2px solid white;
    border-radius: 100%;
    background-color: transparent;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.sub-project {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-project div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.3rem;
}

.sub-project .icons svg {
    cursor: pointer;
}

/* HEADER SYLES */
.header {
    grid-area: header;
    background-color: #fff;
    padding: 1rem 2.5rem;
    display: grid;
    row-gap: -3rem;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: min-content min-content;
    row-gap: 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.header svg,
.cards-container .card svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.header .search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .search input {
    outline: none;
    border: none;
    background-color: var(--main-color);
    border-radius: 10px;
    flex-grow: 1;
    height: 1.4rem;
    font-size: inherit;
    padding: 3px 6px;
}

.header .icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.header .icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header .buttons {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.new-task {
    display: flex;
    padding: 5px;
    width: fit-content;
    justify-self: end;
}

.header .buttons button,
button.new-task {
    background-color: var(--blue-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 18px;
    cursor: pointer;
}

/* MAIN CONTENT STYLES */
.main-content {
    grid-area: main-content;
    padding: calc(var(--section-padding) * 2) var(--section-padding);
    height: 1000px;
}

.todos-container {
    width: 70%
}

/* todo styles */
.todo-container {
    margin: var(--section-padding) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff6f6;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.todo-completed,
.todo-failed {
    background-color: #7aeb94;
    color: white;
}

.todo-failed {
    background-color: lightcoral;
}

.todo-container p {
    color: rgb(151, 151, 151);
}

.todo-container .due-date-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.todo-container .due-date-container svg {
    width: 25px;
    height: 25px;
    fill: currentColor;
}

.todo-container .priority-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-container .priority-container h4 {
    padding: 3px 8px;
    border-radius: 4px;
    color: white;
}

.todo-container .priority-container h4.high {
    background-color: green;
}

.todo-container .priority-container h4.medium {
    background-color: gray;
}

.todo-container .priority-container h4.low {
    background-color: orangered;
}

.todo-container .todo-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-container .todo-buttons button {
    cursor: pointer;
}

/* modal styles */
dialog {
    width: 45ch;
    padding: 1rem;
    border: none;
    border-radius: 7px;

    /* center it in the middle */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .15s ease-in;
}

dialog h3 {
    text-align: center;
    margin-bottom: 1rem;
}

dialog form label {
    margin-bottom: .5rem;
    display: block;
}

dialog form input,
dialog form select,
dialog form textarea {
    margin-bottom: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    font: inherit;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all .3s ease;
}

dialog form input:focus,
dialog form select:focus,
dialog form textarea:focus {
    border-color: #007bff;
    background-color: #eaf4ff;
    outline: none;
}

dialog button {
    border: none;
    padding: 8px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    background-color: var(--blue-color);
}

dialog form button {
    float: right;
}

dialog .cancel {
    float: left;
    background-color: #FF4D4D;
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.50);
}

h2 {
    margin-bottom: 30px;
}